<%- include('layouts/header.ejs')  %>
<h2 class="mb-4"><%= user.name  %></h2>
<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <% if (users.length>0) { %>
      <% for (let i = 0; i < users.length; i++) {
                    %>
      <li class="list-group-item list-group-item-dark cursor-pointer user-list" data-id="<%= users[i]['_id']%>">
        <img src="<%= 'userimages/'+users[i]['image']%>" alt="" width="50px" height="50px">
        <%= users[i]['name']%>
        <% 
                        if(users[i]['isonline'] == 1){
                            %>
        <sup class="online-status" id="<%= users[i]['_id'] %>-status">online</sup>
        <%
                        }
                        else{
                            %>
        <sup class="offline-status" id="<% users[i]['_id'] %>-status">Offline</sup>
        <%
                        }
                        %>
      </li>
      <%
                    
                 } %>
      <% } %>
    </ul>
  </div>
  <div class="col-md-9">
    <h3 class="start-head">click to start chat</h3>
    <div class="chat-section">
      <div id="chat-container">


      </div>
      <form action="" id="chat-form">
        <input type="text" name="message" id="message" placeholder="Enter a message" required class="border">
        <input type="submit" value="Send" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
<script>
  var recieverid;
  var sender_id = '<%= user._id %>'
  var socket = io('/user-namespace', {
    auth: {
      token: '<%= user._id %>'
    }
  })
  $('Document').ready(function() {
    $('.list-group-item').click(function() {
      $('.start-head').hide();
      $('.chat-section').show();
      
      let userid = $(this).attr('data-id');
      recieverid = userid;
      socket.emit('existchat',{sender_id:sender_id,recieverid:recieverid});
    });
  });
  socket.on('onlineuser', function(data) {
    $('#' + data.userid + '-status').text('online');
    $('#' + data.userid + '-status').removeClass('offline-status');
    $('#' + data.userid + '-status').addClass('online-status');
  })
  socket.on('offlineuser', function(data) {
    $('#' + data.userid + '-status').text('Offline');
    $('#' + data.userid + '-status').removeClass('online-status');
    $('#' + data.userid + '-status').addClass('offline-status');
  })
  $('#chat-form').submit(function(event) {
    event.preventDefault();
    var message = $('#message').val();
    $.ajax({
      url: '/savechat',
      method:'post',
      data: {
        sender_id: sender_id,
        recieverid: recieverid,
        message: message
      }
    }).done(function(response) {
      if (response.success) {
        $('#message').val(' ')
        let chat = response.chat.message;
        let html = `<div class = "current-user">
                <h5>` + chat + `</h5>
                </div>`
        $('#chat-container').append(html)
        socket.emit('newchat',response.chat);
      } else {

      }
    })
  })
  socket.on('loadnewchat',function(data){
     if(sender_id == data.reciever_id && recieverid == data.sender_id){
      let chat = data.message;
    let html = `<div class="dynamic-user">
            <h5>`+chat+`</h5>
        </div>`
        $('#chat-container').append(html)
      }
})
    socket.on('chats',function(data){
      $('#chat-container').html(' ');
      let html = ' '
      let chats = data.chats;
      for(let i =0 ; i<chats.length;i++){
        let addClass;
        if(chats[i]['sender_id'] == sender_id){
          addClass = 'current-user'
        }
        else{
          addClass = "dynamic-user"
        }
        html = html+`<div class=`+addClass+`>
            <h5>`+chats[i]['message']+`</h5>
        </div>`
    }
    $('#chat-container').append(html)
  })
      
     
</script>
<%- include('layouts/footer.ejs')  %>